html, body {
    height: 100vh;
    overflow-x: hidden;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--gray);
}

#nav li.nav-item {
    margin-right: 10px;
}

#nav .nav-item-right {
    margin-right: 0;
    margin-left: 10px;
}

#nav .nav-item-right:hover {
    color: var(--primary);
    cursor: pointer;
}

#nav a.router-link-exact-active {
    color: var(--primary);
}

/* Container options */
.fill-height {
    flex-grow: 1;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

/* Buttons */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--primary);
    border-color: var(--primary);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    opacity: 0.8;
}

.form-control:focus {
    border-color: var(--primary);
    box-shadow: inset 0 1px 1px rgba(var(--primary), 0.075), 0 0 8px rgba(var(--primary), 0.6);
}

/* Vue Transitions */
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

    .modal-enter .modal-dialog,
    .modal-leave-active .modal-dialog {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }