/* Vue Transitions */
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

    .modal-enter .modal-dialog,
    .modal-leave-active .modal-dialog {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }