@model MTGCore.ViewModels.DeckViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
     int i = 0;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.)*@
                Card List
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cards)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.name) x@(Html.DisplayFor(modelItem => item.Amount))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Card.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Card.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Card.id">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
